/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main-page-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .main-page-container h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .links-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }
  
  .main-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .main-link:hover {
    background-color: #0056b3;
  }
  